<h1>Dashboard</h1>

<div class="row">
    <div class="col-sm-6">
            <table class="table-hover">
                <tr>
                    <th>Recenttly Added Artists</th>
                    <th colspan='3'># Songs</th>
                </tr>

                <% @artists = @artists.order("created_at").reverse %>

                <% @artists[0..9].each do |artist| %>
                    <tr>
                        <td><%= link_to artist.name, artist_path(artist) %></td>
                        <td><%= artist.songs.count %></td>
                    </tr>
                <% end %>
            </table>
        <p><%= link_to 'View All Artists', { controller: 'artists' }, class: "btn" %></p>
    </div>

    <div class="col-sm-6">
        <table class="table-hover">
                <tr>
                    <th>Recently Added Songs</th>
                    <th></th>
                    <th></th>
                </tr>
                
                <% @songs = @songs.order("created_at").reverse %>
                
                <% @songs[0..9].each do |song| %>
                    <tr>
                        <td><%= link_to song.title, artist_song_path(song.artist, song) %></td>
                        <td><%= link_to song.artist.name, artist_path(song.artist) %></td>
                        <td><% if song.tab.attached? %>
                                <i class="far fa-file"></i>
                            <% end %>
                            <% if song.spotify_url.present? %>
                                <i class="fab fa-spotify"></i>
                            <% end %>
                            <% if song.video_url.present? %>
                                <i class="fab fa-youtube"></i>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </table>
        <p><%= link_to 'View All Songs', { controller: 'songs' }, class: "btn" %></p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <table class="table-hover">
            <tr>
                <th>In Progress Songs</th>
                <th></th>
                <th></th>
            </tr>
            <% @songs.each do |song| %>
                <% if song.status == "in_progress" %>
                    <tr>
                        <td><%= link_to song.title, artist_song_path(song.artist, song) %></td>
                        <td><%= link_to song.artist.name, artist_path(song.artist) %></td>
                        <td><% if song.tab.attached? %>
                                <i class="far fa-file"></i>
                            <% end %>
                            <% if song.spotify_url.present? %>
                                <i class="fab fa-spotify"></i>
                            <% end %>
                            <% if song.video_url.present? %>
                                <i class="fab fa-youtube"></i>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        </table>
    </div>
</div>