<h1>Dashboard</h1>

<table>
    <tr>
        <th>Recent Artists</th>
        <th colspan='3'># Songs</th>
    </tr>

    <% @artists.each do |artist| %>
        <tr>
            <td><%= link_to artist.name, artist_path(artist) %></td>
            <td><%= artist.songs.count %></td>
        </tr>
    <% end %>
</table>

<p><%= link_to 'View All Artists', controller: 'artists' %></p>

<table>
        <tr>
            <th>Recent Songs</th>
            <th></th>
            <th>Tab</th>
        </tr>
    
        <% @songs.each do |song| %>
            <tr>
                <td><%= song.title %></td>
                <td><%= link_to song.artist.name, artist_path(song.artist) %></td>
                <td><% if song.tab.attached? %>
                        <%= link_to 'Tab', rails_blob_path(song.tab, disposition: "attachment") %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </table>

<p><%= link_to 'View All Songs', controller: 'songs' %></p>