<h1>Dashboard</h1>

<table>
    <tr>
        <th>Recent Artists</th>
        <th colspan='3'></th>
    </tr>

    <% @artists.each do |artist| %>
        <tr>
            <td><%= artist.name %></td>
        </tr>
    <% end %>
</table>

<p><%= link_to 'View All Artists', controller: 'artists' %></p>

<table>
        <tr>
            <th>Recent Songs</th>
            <th colspan='3'></th>
        </tr>
    
        <% @songs.each do |song| %>
            <tr>
                <td><%= song.title %></td>
                <td><%= song.artist.name %></td>
            </tr>
        <% end %>
    </table>

<p><%= link_to 'View All Songs', controller: 'songs' %></p>