<%= form_for([@artist, @song]) do |form| %>
 
    <% if @song.errors.any? %>
        <div id="error_explanation">
        <h2>
            <%= pluralize(@song.errors.count, "error") %> prohibited
            this song from being saved:
        </h2>
        <ul>
            <% @song.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
    
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :tab %><br>
        <%= form.file_field :tab, multiple: false, direct_upload: true %>
    </p>
    <p>
        <%= form.label :status %><br>
        <%= form.select :status, Song.statuses.keys.map { |m| [m.titlecase, m]} %>
    </p>
    <p>
        <%= form.label :instrument %><br>
        <%= form.select :instrument, Song.instruments.keys.map { |m| [m.titlecase, m]} %>
    </p>
    <p>
        <%= form.label :difficulty %><br>
        <%= form.select :difficulty, (0..5).each { |m| [m]} %></br>
        1 = Beginner, 5 = Advanced
    </p>
    <p>
        <%= form.label :video %><br>
        <%= form.text_field :video_url %></br>
        Enter embed code (i.e. if URL is https://www.youtube.com/watch?v=2CYKtIu2oro, enter 2CYKtIu2oro)
    </p>
    <p>
        <%= form.label :spotify %><br>
        <%= form.text_field :spotify_url %></br>
        Enter embed code (i.e. if URL is https://open.spotify.com/embed/track/5ihS6UUlyQAfmp48eSkxuQ, enter 5ihS6UUlyQAfmp48eSkxuQ)
    </p>
    <p>
        <%= form.submit class: 'btn' %>
    </p>
 
<% end %>