<div class="header row">
    <div class="col-md-12">
        <h1>Songs</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table-striped table-hover">
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Status</th>
                <th>Difficulty</th>
                <th></th>
                <th></th>
            </tr>

            <% @songs = @songs.order("title") %>
            <% @songs.each do |song| %>
                <tr>
                    <td><%= link_to song.title, artist_song_path(song.artist,song) %></td>
                    <td><%= link_to song.artist.name, artist_path(song.artist) %></td>
                    <td><%= song.status.titlecase %></td>
                    <td><% if song.difficulty.present? %>
                            <% song.difficulty.to_i.times do  %>
                                <i class="fas fa-star"></i>
                            <% end %>
                            <% song.blank_stars.times do %>
                                <i class="far fa-star"></i>
                            <% end %>
                        <% end %></td>
                    <td><% if song.tab.attached? %>
                            <i class="far fa-file"></i>
                        <% end %>
                        <% if song.spotify_url.present? %>
                            <i class="fab fa-spotify"></i>
                        <% end %>
                        <% if song.video_url.present? %>
                            <i class="fab fa-youtube"></i>
                        <% end %>
                    </td>
                    <td><%= link_to edit_artist_song_path(song.artist,song) do %>
                            <i class="fas fa-pencil-alt"></i>
                        <% end %>
                        <%= link_to [song.artist, song],
                                method: :delete,
                                data: { confirm: 'Are you sure?' } do %>
                                <i class="fas fa-times"></i>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>