<div class="header row">
    <div class="col-md-12">
        <h1>Songs</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table-striped table-hover">
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Tab</th>
                <th>Status</th>
                <th></th>
            </tr>

            <% @songs = @songs.order("title") %>
            <% @songs.each do |song| %>
                <tr>
                    <td><%= link_to song.title, artist_song_path(song.artist,song) %></td>
                    <td><%= link_to song.artist.name, artist_path(song.artist) %></td>
                    <td><% if song.tab.attached? %>
                            <%= link_to 'Tab', rails_blob_path(song.tab, disposition: "attachment") %>
                        <% end %>
                    </td>
                    <td><%= song.status.titlecase %></td>
                    <td><%= link_to edit_artist_song_path(song.artist,song) do %>
                            <i class="fas fa-pencil-alt"></i>
                        <% end %>
                        <%= link_to [song.artist, song],
                                method: :delete,
                                data: { confirm: 'Are you sure?' } do %>
                                <i class="fas fa-times"></i>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>