<div class="header row">
    <div class="col-md-9">
            <h1><%= @song.title %></h1>
            <h2><%= link_to @artist.name, artist_path(@artist) %></h2>
            <div class="song_detail">
                <p><%= @song.status.titlecase %></p> |
                <% if @song.instrument.present? %> 
                    <p><%= @song.instrument.titlecase %></p> |
                <% end %>

                <% if @song.difficulty.present? %>
                    <p><% @song.difficulty.to_i.times do  %>
                            <i class="fas fa-star"></i>
                        <% end %>
                        <% @song.blank_stars.times do %>
                            <i class="far fa-star"></i>
                        <% end %></p>
                <% end %>
            </div>        
    </div>
    <div class="col-md-3">
            <%= link_to 'Edit', edit_artist_song_path(@song.artist, @song), class: :btn %>
    </div>
</div>

<div class="row">
    <div class="col-md-6 attachment">
        <% if @song.tab.attached? %>
            <%= link_to image_tag("tab.gif", :width => "150px", :height => "auto", :class => "tab"), rails_blob_path(@song.tab, disposition: "attachment"), :target => "_blank" %> 
            <%= @song.tab.previewable? %>
        <% end %>
    </div>
    <div class="col-md-6">
        <% if @song.spotify_url.present? %>
        <iframe src="https://open.spotify.com/embed/track/<%= @song.spotify_url %>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <% else %>
            <p>No Spotify track.</p>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-md-6 notes">
        <h2>Notes</h2>
        <% if @song.notes.present? %>
            <% @song.notes.each do |note| %>
                <p><%= note.body %>
                    <%= link_to [note.song, note],
                                method: :delete,
                                data: { confirm: 'Are you sure?' } do %>
                                <i class="fas fa-times"></i>
                    <% end %>
                </p>
            <% end %>
        <% else %>
            <p>No notes.</p>
        <% end %>

        <%= form_with(model: [ @song, @song.notes.build ], local: true) do |form| %>
            <strong>New Note</strong>
            <p>
                <%= form.text_area :body %>
            </p>
            <p>
                <%= form.submit class: 'btn' %>
            </p>
        <% end %>
    </div>
    <div class="col-md-6">
        <h2>Video</h2>
        <% if @song.video_url.present? %>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @song.video_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% end %>
    </div>
</div>