<div class="header row">
    <div class="col-md-12">
        <h1><%= @artist.name %> - <%= @song.title %></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p><%= @song.status.titlecase %></p>
        <p><%= @song.instrument.titlecase %></p>
        <p><%= @song.difficulty.titlecase %></p>
    </div>
</div>