<div class="header row">
    <div class="col-md-12">
            <h1><%= @resource.title %></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 attachment">
        <% if @resource.pdf.attached? %>
            <%= link_to image_tag("tab.gif", :width => "150px", :height => "auto", :class => "tab"), @resource.pdf, :target => "_blank" %> 
        <% else %>
            <p>No file for this resource.</p>
        <% end %>
    </div>
    <div class="col-md-6">
        <h2>Video</h2>
        <% if @resource.url.present? %>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @resource.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% else %>
            <p>No video for this resource.</p>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-md-6 notes">
        <h2>Notes</h2>
        <% if @resource.resource_notes.present? %>
            <% @resource.resource_notes.each do |note| %>
                <p><%= note.body %>
                    <%= link_to [note.resource, note],
                                method: :delete,
                                data: { confirm: 'Are you sure?' } do %>
                                <i class="fas fa-times"></i>
                    <% end %>
                </p>
            <% end %>
        <% else %>
            <p>No notes.</p>
        <% end %>

        <%= form_with(model: [ @resource, @resource.resource_notes.build ], local: true) do |form| %>
            <strong>New Note</strong>
            <p>
                <%= form.text_area :body %>
            </p>
            <p>
                <%= form.submit class: 'btn' %>
            </p>
        <% end %>
    </div>
<div>