<h1>Artists Matching "<%= params[:search] %>"</h1>
<div class="row">
    <div class="col-md-12">
        <div class="grid-container">
        <% @search_artists.each do |artist| %>
            <div class="grid-item artist" style="background-image: url(<%= artist.images[0].to_h["url"] %>);">
                <h2><%= artist.name %></h2>
                <div class="icons">
                    <a href="https://open.spotify.com/artist/<%= artist.id %>" target="_blank"><i class="fab fa-spotify"></i></a>
                    <%= link_to artists_path("artist"=>{:name => artist.name, :spotify_id => artist.id, :photo => artist.images[0].to_h["url"]}), method: :create do %>
                        <i class="fas fa-plus"></i>
                    <% end %>
                </div>
            </div>
        <% end %>
        </div>
    </div>
</div>